<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration>
    <Appender name="%user_logger_name%" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
        <url>%scheme%://%host%:%port%</url>
        <token>%user_httpeventcollector_token%</token>
        <disableCertificateValidation>true</disableCertificateValidation>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg</pattern>
        </layout>
    </Appender>
    <logger name ="%user_logger_name%" level="debug">
        <appender-ref ref="%user_logger_name%" />
    </logger>
</configuration>-->

<configuration>
<appender name="socket" class="com.splunk.logging.TcpAppender">
    <RemoteHost>127.0.0.1</RemoteHost>
    <Port>8088</Port>
    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%date{ISO8601} [%thread] %level: %msg%n</pattern>
    </layout>
</appender>
<logger name="my.splunk.logger" additivity="false" level="INFO">
    <appender-ref ref="socket"/>
</logger>
<root level="INFO">
    <appender-ref ref="socket"/>
</root>
</configuration>